.app {
  padding: 75px;
}

.table {
  margin: auto;
  width: 45%;
}

.holesRow{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.WAMhole {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  text-align: center;
  background-color: green;
}

.centertext {
  text-align: center;
}

.gifs {
  padding-left: 50px;
  padding-right: 50px;
}

.button {
  width: 50%;
  height: 50px;
  margin: center;
  background-color: green;
  text-align: center;
  color: white;
}

.marketButton {
  width: 10%;
  height: 30px;
  margin: center;
  background-color: gold;
  text-align: center;
  color:green;
}